doctype html
html
  head
    title Week 7
  body
    h1 University App

    ul
      li
        a(href="/students") Students
      li
        a(href="/programmes") Programmes
      li
        a(href="/modules") Modules